body
{
    margin: auto;
    max-width: 100%;
    background-color: #CFDFD4;
}
*{
    font-family: 'Roboto','Inter';
    letter-spacing: normal;
    line-height: normal;
    text-indent: 0%;
    word-spacing: normal;
}
header
{
    background-color: #0F4763;
    padding: 10px;
}
.nav-menu ul
{
    list-style: none;
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}
.nav-menu a 
{
    background-color:#CFDFD4;
    color: black;
    text-decoration: none;
    padding: 12px 20px; 
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px; 
    margin-left: 10px; 
    border: 2px solid transparent; 
    border-style: double;
    border-width: 5px;
}
.nav-menu a:hover
{
 background-color:#B8ADD5;
 color: #000000;
}
.nav-menu a:active
{
    color: #CFDFD4;
}
.nav-menu img
{
  width: 50px;
  height: 50px;
}
.nav-menu > ul > li 
{
    margin: 1px;
}
.banner-section 
{
    display: flex;
    width: auto;
    height: 400px; 
    background: url('../img/plasticAfval.webp') lightgray 50% / cover no-repeat;
    justify-content: center;
    align-items: center;
}
h1::first-letter
{
    color: #B8ADD5;
    font-size: 30px;
}
.text
{
    display: flex;
    height: 80px;
    width: 200px;
    background-color: #0F4763;
    border-radius: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto','Inter';
    font-size: 25px;
    color: #fff;

}
.grid-item
{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: left;
    height: 300px;
    width: 550px;
    justify-items: center;
    font-size: 20px;
}
main img
{
    width: 100%;
    height: 100%;
}

.img-a img
{
    width: 550px;
    height: 100%;
    background-size: cover;
}

.img-b
{
    background: url("../img/");
    width: 550px;
    height: auto;
    background-size: cover;
    background-color: white;
}
.img-c
{
    background: url("../img/");
    width: 550px;
    height: auto;
    background-size: cover; 
    background-color: white;
}
.wat-doen
{
    height: 330px;
}
.button-tips
{
    background-color:#CFDFD4;
    color: black;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px; 
    border: 2px solid transparent; 
}
.grid-container 
{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    background-color: #CFDFD4;
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
}
.footer
{
    display: flex;
    justify-content: space-between;
    background-color: #0F4763;
    color: #fff;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: auto;
    align-items: start;
}
footer section{
    display: grid;
    gap: 10px;
}
.footer-left p 
{
    margin: 10px;
    font-size: 14px;
    padding-left: 10px;
}
footer nav ul
{
    list-style-type: none;
    padding: 0;
}
footer nav ul li 
{
    margin-bottom: 10px;
}
footer nav ul li a 
{
    color: white;
    font-size: 14px
}
.footer-right h3 
{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    padding-right: 10px;
}
footer img
{
    width: 40px;
    height: 40px;
    margin-top: auto;
}
@media screen and (max-width: 768px) 
{
    .hidden-on-desktop 
    {
        display: none; 
    }
    .nav-menu ul 
    {
        display: block;
        text-align: center;
    }
    .nav-menu a 
    {
        display: block;
        margin: 10px 0;
    }
    .banner-section 
    {
        display: flex;
        width: 100%;
        height: 300px;
        background: url('../img/plasticAfval.webp') lightgray 50% / cover no-repeat;
        justify-content: center;
        align-items: center;
    }
    .grid-container 
    {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 10px auto;
        justify-content: center;
        align-items: center;
        
    }
    .grid-item 
    {
        width: auto;
        height: auto;
    }

    .img-a img
    {
        color: #CFDFD4;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    .img-b img
    {
        color: #CFDFD4;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    .img-c img
    {
        color: #CFDFD4;
        width: 100%;
        height: 100%;
        background-size: cover; 
    }
    .text 
    {
        font-size: 25px;
        width: fit-content;
        text-align: center;
        padding: 10px;
        height: fit-content;
    }
    footer 
    {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

